cython
bezier
pycocotools
submitit
torch>=1.5.0
torchvision>=0.6.0
scipy
numpy
numba
easydict
fire
lmdb
opencv-contrib-python
yacs
apex
tqdm
zmq
transformers
timm
einops
cupy-cuda110
editdistance
shapely
